<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
</head>
<body>

	<header th:replace="layout/layout ::header"></header>
	<main>
		<section class="container">
			<div class="card text-center">
				<div class="card-header">Editar Vendedor</div>
				<div class="card-body  text-left">
					<form th:action="@{/compraencasa/vendedor/guardar}" th:object="${vendedor}" method ="post">
						<div class="form-row">
							<div class="form-group col-md-6">
								<label for="correo">Correo</label> <input type="email"
									class="form-control" th:field="*{correo}">
								<span th:if="@{fields.hasErrors('correo')}" th:errors="*{correo}" th:errorclass="error"></span>
							</div>
							<div class="form-group col-md-6">
								<label for="password">Password</label> <input type="password"
									class="form-control" th:field="*{password}">
								<span th:if="@{fields.hasErrors('password')}" th:errors="*{password}"th:errorclass="error"></span>
							</div>
							<div class="form-group col-md-6">
								<label for="apellidos">Apellidos</label> <input type="text"
									class="form-control" th:field="*{apellidos}">
								<span th:if="@{fields.hasErrors('apellidos')}" th:errors="*{apellidos}"th:errorclass="error"></span>
							</div>
							<div class="form-group col-md-6">
								<label for="nombres">Nombres</label> <input type="text"
									class="form-control" th:field="*{nombres}">
								<span th:if="@{fields.hasErrors('nombres')}" th:errors="*{nombres}"th:errorclass="error"></span>
							</div>
							<div class="form-group col-md-6">
								<label for="dni">Dni</label> <input type="text"
									class="form-control" maxlength="8" th:field="*{dni}">
								<span th:if="@{fields.hasErrors('dni')}" th:errors="*{dni}" th:errorclass="error"></span>
							</div>
							<div class="form-group col-md-6">
								<label for="celular">celular</label> <input type="text"
									class="form-control" maxlength="9" th:field="*{celular}">
								<span th:if="@{fields.hasErrors('celular')}" th:errors="*{celular}" th:errorclass="error"></span>
							</div>
						</div>
							<button type = "submit" class="btn btn-success">Registrar</button>
						<a th:href="@{/compraencasa/vendedor}" class="btn btn-danger"><i class="fas fa-ban"></i> Cancelar</a>


					</form>
				</div>
				<div class="card-footer text-center"></div>
			</div>
		</section>
	</main>

	<footer th:replace="layout/layout :: footer"></footer>

</body>
</html>