.header .navbar {
  background-color: transparent !important;
}
.main-section{
    margin:0 auto;
    margin-top:25%;
    padding: 0;
}

.modal-content{
    background-color: #FEFFFD;
    opacity: .85;
    padding: 0 20px;
    box-shadow: 0px 0px 3px #848484;
}