<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout :: head">
	<meta charset="utf-8">
</head>
<body>

	<header th:replace="layout/layout ::header"></header>
	<section class=" ">
		<main>
			<section class="jumbotron text-center">
		    <div class="container d-flex align-items-center flex-column">
                <!-- Masthead Avatar Image--><img class="masthead-avatar mb-5" src="img/compralogo.jpg" alt=""><!-- Masthead Heading-->
                <!-- Icon Divider-->
                <div class="divider-custom divider-light">
                    <div class="divider-custom-line"></div>
                    <div class="divider-custom-icon"><svg class="svg-inline--fa fa-star fa-w-18" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="star" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512" data-fa-i2svg=""><path fill="currentColor" d="M259.3 17.8L194 150.2 47.9 171.5c-26.2 3.8-36.7 36.1-17.7 54.6l105.7 103-25 145.5c-4.5 26.3 23.2 46 46.4 33.7L288 439.6l130.7 68.7c23.2 12.2 50.9-7.4 46.4-33.7l-25-145.5 105.7-103c19-18.5 8.5-50.8-17.7-54.6L382 150.2 316.7 17.8c-11.7-23.6-45.6-23.9-57.4 0z"></path></svg><!-- <i class="fas fa-star"></i> --></div>
                    <div class="divider-custom-line"></div>
                </div>
                <!-- Masthead Subheading-->
                <p class="masthead-subheading font-weight-light mb-0"></p>
                <p class="masthead-subheading font-weight-light mb-0"></p>
                <p class="masthead-subheading font-weight-light mb-0"></p>
                
            </div>
            
            <div class="container marketing">

    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
		<img class="masthead-avatar mb-5" src="img/productos.png" alt="">  
		<link>
		
		      <h2>Los mejores productos</h2>
        <p>Los productos ofrecidos serán de calidad y te sentirás como si de verdad estuvieras en un mercado, pero desde la comodidad de tu hogar.</p>
      </div>
      <div class="col-lg-4">
        
        <img class="masthead-avatar mb-5" src="img/facildeusar.png" alt="">        <h2>Fácil uso</h2>
        <p>Será tan fácil comprar a través de nuestra página que lo querrás hacer siempre</p>
      </div>
      <div class="col-lg-4">
		<img class="masthead-avatar mb-5" src="img/delivery.png" alt="">        <h2>Siéntete seguro</h2>
        <p>Sabemos que esta cuarente es dura, pero no te preocupes más, con nuestro sistema de entregas tus productos llegarán ti sin preocuparte por más</p>
        
      </div>
    </div>

  </div>

</body>
</html>